<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>200494899284-gegqfvmcm2csmsa1e4q6ggl7rd4fgur4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200494899284-gegqfvmcm2csmsa1e4q6ggl7rd4fgur4</string>
	<key>API_KEY</key>
	<string>AIzaSyB7H9H0iFlpOZkhk0D5go1hguMWwVzjE88</string>
	<key>GCM_SENDER_ID</key>
	<string>200494899284</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rom.best.ooo.uk.edelveis</string>
	<key>PROJECT_ID</key>
	<string>xamarinjkh2</string>
	<key>STORAGE_BUCKET</key>
	<string>xamarinjkh2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200494899284:ios:8f4cafd682a29258334dc1</string>
</dict>
</plist>